body {
  background-image: url("/src/main/resources/landing/background.jpg");
  background-size: 100%;
}

/* Remove the navbar's default rounded borders and increase the bottom margin */
.navbar {
  margin-bottom: 50px;
  border-radius: 0;
}

.form-inline {
  float: right;
}

.login-form {
  margin-top: 32px;
}

.btn-danger {
  margin-right: 20px;
}

.card-body {
  margin-left: 10px;
  padding-left: 10px;
  background-color: #f2f2f2;
}

.sidenav {
  padding-top: 20px;
  background-color: #f1f1f1;
  height: 100%;
}

.checked {
  color: orange;
}

.navbar-brand {
  width: 50%;
  height: 50%;
}

.nav {
  margin-top: 20px;
  margin-left: 100px;
  font-size: 16px;
}

.navbar-header {
  width: 300px;
}

p.header-text {
  margin-top: 34px;
  color: #fff;
  font-size: 16px;
  width: 600px;
}

.btn{
  color: black;
}