/* Set height of the grid so .sidenav can be 100% (adjust if needed) */
.row.content {height: 1500px}
    
/* Set gray background color and 100% height */
.sidenav {
  background-color: #f1f1f1;
  height: 100%;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }
  .row.content {height: auto;} 
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    margin-top: 50px;
  }
  
  .title {
    color: grey;
    font-size: 18px;
  }

  
  a {
    text-decoration: none;
    font-size: 22px;
    color: black;
  }
  
  button:hover, a:hover {
    opacity: 0.7;
  }

  .profile-img {
      border-radius: 10%;
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
  }

  .navbar {
    margin-bottom: 0;
    border-radius: 0;
  }


  .form-inline {
    float: right;
  }


  .login-form {
    margin-top: 7px;
  }

  .btn-danger {
    margin-right: 20px;
  }


  .bedroom-pic {
    width: 50%;
    height: 50%;
  }
  